<div class="footer-top bg-gray-30 px-2 d-none d-md-block">
    <div class="fs-12px d-flex flex-column flex-xl-row">
        <!-- <div class="flex-fill">
            <div class="d-flex justify-content-evenly">
                <span class="py-2 hover-text-underline cp text-dark">Categoría</span>
                <span class="py-2 hover-text-underline cp text-dark">Categoría</span>
                <span class="py-2 hover-text-underline cp text-dark">Categoría</span>
                <span class="py-2 hover-text-underline cp text-dark">Categoría</span>
                <span class="py-2 hover-text-underline cp text-dark">Categoría</span>
                <span class="py-2 hover-text-underline cp text-dark">Categoría</span>
            </div>
        </div> -->
        <!-- <div class="flex-fill">
            <div class="d-flex justify-content-evenly">
                <span class="py-2 text-dark">Por marca:</span>
                <span class="py-2 hover-text-underline cp text-dark">Volkswagen</span>
                <span class="py-2 hover-text-underline cp text-dark">Renault</span>
                <span class="py-2 hover-text-underline cp text-dark">Nissan</span>
                <span class="py-2 hover-text-underline cp text-dark">Seat</span>
                <span class="py-2 hover-text-underline cp text-dark">Peugeot</span>
                <span class="py-2 hover-text-underline cp text-dark">Fort</span>
                <span class="py-2 hover-text-underline cp text-dark">Kia</span>
            </div>
        </div> -->
    </div>
</div>

<div class="bg-dark">
    <div class="container-fluid container-xl">
        <div class="footer-middle px-2 text-gray-40">
            <div class="row align-items-center mx-0-force">
                <div class="col-12 col-lg-6 my-3">
                    <p class="fw-bold fs-5">OFERTAS NUEVAS Y EXCLUSIVAS</p>
                    <div class="row mx-0-force">
                        <div class="col-12 col-sm-8 col-md-4 col-lg-8"> 
                            <input type="email" name="email" class="form-control" placeholder="Correo">
                        </div>
                        <div class="col-12 col-sm-4 col-md-2 col-lg-4 my-3 my-sm-0">
                            <button type="button" class="btn btn-block btn-dark">
                                Suscribirse
                            </button>
                        </div>
                        <div class="col-12 my-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" checked>
                                <label class="form-check-label pl-2">
                                    <p>
                                        <small>
                                            Sí, quiero recibir ofertas y descuentos semanalmente.
                                            Puedo darme de baja en cualquier momento.
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            Por favor, tenga en cuenta nuestra
                                            <span class="text-dark cp hover-text-underline">
                                                Política de privacidad.
                                            </span>
                                        </small>
                                    </p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 h-100">
                    <div class="d-flex flex-column">
                        <div>
                            <p class="fs-12px fw-light">
                                * Se aplica a los productos seleccionados. Tras la expiración del tiempo indicado en el
                                ángulo superior derecho, este porcentaje puede ser omitido, aumentado o disminuido.
                                No se refiere a un precio previamente fijado para la venta, véase **
                            </p>
                        </div>
                        <div>
                            <p class="fs-12px fw-light">
                                ** El importe tachado no es un precio que haya sido fijado previamente para la venta,
                                sino que es calculado en tiempo real basándose en nuestro precio de compra más
                                económico.
                                Por lo tanto, dicho importe puede aumentar o disminuir diariamente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-12 d-none d-md-block">
                    <div class="d-flex flex-wrap justify-content-center">
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Contacto
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Términos
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Políticas de privacidad
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Menciones legales
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Pagos
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Entrega
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Anulación
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Sustución de los artículos
                        </span>
                        <span class="py-2 mx-2 fs-12px">|</span>
                        <span class="hover-text-underline text-gray-40 cp py-2 fw-bolder fs-12px">
                            Libro de reclamaciones
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <p class="fs-12px text-center">
                        © 2023 Kami Eccomerce: Compre productos exclusivos online
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>