<ng-container *ngIf="dataService.screenWidth>500; else fullScreen">
    <p-dialog [(visible)]="customerDataService.displayAddressesModal" [modal]="true" [style]="{ width: '450px' }"
        [draggable]="false" [resizable]="false" [dismissableMask]="true" [maskStyleClass]="'bg-black-transparent-20'"
        contentStyleClass="p-0">
        <ng-template pTemplate="header">
            <span class="fs-20px fw-500 mx-3"><i class="fa-solid fa-map-location-dot me-2"></i>Addresses</span>
        </ng-template>
        <p class="m-0">
            <ng-container *ngTemplateOutlet="cartTemplate"></ng-container>
        </p>
    </p-dialog>
</ng-container>

<ng-template #fullScreen>
    <p-sidebar [(visible)]="customerDataService.displayAddressesModal" [showCloseIcon]="false"
        styleClass="p-0 h-auto max-h-90vh" position="bottom" [blockScroll]="true">
        <div class="d-flex flex-column justify-content-center">
            <div class="border-bottom p-2">
                <div class="d-flex justify-content-between align-items-center mt-1 fs-4">
                    <span class="fs-20px fw-500 mx-3"><i
                            class="fa-solid fa-map-location-dot me-2"></i>Addresses</span>
                    <i class="fa-regular fa-circle-xmark cursor-pointer fs-20px text-gray-70"
                        (click)="customerDataService.displayAddressesModal=false"></i>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="cartTemplate"></ng-container>
        </div>
    </p-sidebar>
</ng-template>

<ng-template #cartTemplate>
    <div class="m-3">
        <ul class="list-group list-group-flush mb-2">
            <li class="list-group-item px-0" *ngFor="let address of customerDataService.addresses">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <label [for]="address.id" class="w-100">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-flex flex-column b-0 fw-500 ms-2">
                                <span>{{address.line}}</span>
                                <span class="fs-12px text-gray">{{address.reference}}</span>
                            </div>
                        </div>
                    </label>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-primary text-white transition-300ms w-100"
            (click)="customerDataService.displayAddressesModal=false;">
            Cerrar
        </button>
    </div>
</ng-template>