<div class="d-flex flex-column justify-content-center align-items-center bg-light py-5" >
    <div class="d-flex justify-content-center mb-3">
        <a [routerLink]="appRoutes.HOME_MODULE_ROUTE_NAME">
            <img src="https://picsum.photos/seed/picsum/75/50">
        </a>
    </div>

    <div class="card text-dark bg-light mb-3 mx-3 max-w-350px">
        <div class="card-body">
            <div class="mb-2">
                <div class="fs-22px">Crear mi cuenta</div>
                <div class="fs-12px">Completa tus datos</div>
            </div>
            <ng-container *ngIf="isEmailPrefilled">
                <div class="fs-14px">Registrarse como <span class="fw-bold text-gray-60">
                    {{authDataService.customerSignUpRequest.email}}</span>
                    <br>
                    (<a class="text-primary cursor-pointer" (click)="resetSignUp()">¿No eres tú?</a>)
                </div>
            </ng-container>
            <div class="mb-1">
                <label class="fs-14px text-gray-60 ps-1">Tipo documento</label>
                <select [(ngModel)]="authDataService.customerSignUpRequest.documentType" class="form-select form-select-sm">
                    <option [value]="1">DNI</option>
                    <option [value]="4">CARNET EXT.</option>
                    <option [value]="6">RUC</option>
                    <option [value]="8">PASAPORTE</option>
                </select>
            </div>
            <div class="mb-1">
                <label class="fs-14px text-gray-60 ps-1">Nro documento</label>
                <input type="text" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.documentNumber">
            </div>
            <div class="mb-1">
                <label class="fs-14px text-gray-60 ps-1">Nombre(s)</label>
                <input type="text" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.name">
            </div>
            <div class="mb-1">
                <label class="fs-14px text-gray-60 ps-1">Apellido(s)</label>
                <input type="text" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.lastName">
            </div>
            <ng-container *ngIf="!isEmailPrefilled">
                <div class="mb-1">
                    <label class="fs-14px text-gray-60 ps-1">Correo electrónico</label>
                    <input type="email" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.email">
                </div>
            </ng-container>
            <ng-container *ngIf="!this.authDataService.customerSignUpRequest.isLinkedToGoogleAccount">
                <div class="mb-1">
                    <label class="fs-14px text-gray-60 ps-1">Contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.password">
                    <p class="fs-12px text-gray-60 ps-2 mb-0">Utilice al menos 8 caracteres</p>
                </div>
                <div class="mb-1">
                    <label class="fs-14px text-gray-60 ps-1">Confirmar contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.passwordConfirm">
                </div>
            </ng-container>
            <div class="mb-1">
                <label class="fs-14px text-gray-60 ps-1">Celular</label>
                <input type="text" class="form-control" [(ngModel)]="authDataService.customerSignUpRequest.phoneNumber">
            </div>
            <div class="mb-3 max-w-300px">
                <p class="fs-12px lh-sm text-gray-60">Al crear una cuenta o iniciar sesión, usted reconoce y acepta las condiciones de Indeed. Además, reconoce nuestras políticas sobre cookies y de privacidad.</p>
            </div>
            <p class="text-center fs-12px" [class]="messageClass" [innerHTML]="message"></p>
            <div class="d-flex mb-2">
                <button class="btn bg-color-1-with-hover text-white fw-bold btn-block w-100" (click)="signUp()">Crear cuenta</button>
            </div>
        </div>
    </div>
    
</div>