<div class="d-flex flex-column justify-content-center align-items-center bg-light py-5">
    <div class="d-flex justify-content-center mb-3">
        <a [routerLink]="appRoutes.HOME_MODULE_ROUTE_NAME" class="">
            <img src="https://picsum.photos/seed/picsum/75/50">
        </a>
    </div>
    <div class="card text-dark bg-light mb-3 mx-3 max-w-350px">
        <div class="card-body">
            <div class="mb-2">
                <div class="fs-22px">Crear mi cuenta</div>
                <div class="fs-12px">Completa tus datos</div>
            </div>
            <ng-container *ngIf="isEmailPrefilled">
                <div class="fs-14px">Registrarse como <span class="fw-bold text-gray-60">
                    {{authDataService.customerSignUpRequest.email}}</span>
                    (<a class="text-primary cursor-pointer" (click)="resetSignUp()">¿No eres tú?</a>)
                </div>
            </ng-container>
            <div class="mb-3">
                <label class="fs-14px">Tipo documento</label>
                <select [(ngModel)]="authDataService.customerSignUpRequest.documentType" class="form-select form-select-sm">
                    <option [value]="1">DNI</option>
                    <option [value]="4">CARNET EXT.</option>
                    <option [value]="6">RUC</option>
                    <option [value]="8">PASAPORTE</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nro documento" [(ngModel)]="authDataService.customerSignUpRequest.documentNumber">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nombre(s)" [(ngModel)]="authDataService.customerSignUpRequest.name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Apellido(s)" [(ngModel)]="authDataService.customerSignUpRequest.lastName">
            </div>
            <ng-container *ngIf="!isEmailPrefilled">
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="authDataService.customerSignUpRequest.email">
                </div>
            </ng-container>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="authDataService.customerSignUpRequest.password">
                <p class="fs-12px text-gray-60 ps-2">Utilice al menos 8 caracteres</p>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Confirmar contraseña" [(ngModel)]="authDataService.customerSignUpRequest.passwordConfirm">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Celular" [(ngModel)]="authDataService.customerSignUpRequest.phoneNumber">
            </div>
            <div class="mb-3 max-w-300px">
                <p class="fs-12px lh-sm text-gray-60">Al crear una cuenta o iniciar sesión, usted reconoce y acepta las condiciones de Indeed. Además, reconoce nuestras políticas sobre cookies y de privacidad.</p>
            </div>
            <p class="text-danger text-center fs-12px">{{ message }}</p>
            <div class="d-flex mb-2">
                <button class="btn bg-color-1-with-hover text-white fw-bold btn-block w-100" (click)="signUp()">Crear cuenta</button>
            </div>
        </div>
    </div>
</div>