.sidebar-popup {
    width: 100% !important;
}

@media (min-width: 417px) {
    .sidebar-popup {
        width: 400px !important;
    }
}


/* primeng table */

.p-datatable-scrollable-header-box {
    padding-right: 0px !important;
}

.p-datatable table {
    table-layout: fixed !important;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background-color: #0063cc70 !important;
    color: #000000 !important;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #007bff70 !important;
    color: #181818 !important;
}

/* Custom css ngx date range picker*/

.md-drppicker .btn {
    background-color: var(--blue) !important;
}

.md-drppicker td.active,
.md-drppicker td.active:hover {
    background-color: var(--blue) !important;
}

/* Custom css btn upload */

.p-fileupload-advanced .p-button {
    padding: 5px !important;
    margin-bottom: 10px !important;
}

.p-fileupload-buttonbar {
    padding: 10px !important;
}

.main-content {
    margin-left: 0;
}

@media (min-width: 768px) {
    .main-content {
        margin-left: 150px;
    }
}

.mobileMenuBtn {
    padding: 3px 9px;
}

.images-popup {
    width: 100%;
}

@media (min-width: 768px) {
    .images-popup {
        width: 700px;
    }
}

.debugger {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 5px;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 50%;
    border: 1px solid var(--blue);
    text-align: center;
    color: #ffffff;
}

:root {
    --color-1: #FECCCB;
}

.text-color-1 {
    color: #FECCCB;
}

.bg-color-1, .bg-color-1-with-hover {
    background-color: #FECCCB;
}

.bg-color-1-with-hover:hover {
    background-color: #e2b4b3;
}

.bg-outline-color-1, .bg-outline-color-1-with-hover {
    transition: all 300ms ease;
    border: 1px solid #e2b4b3;
    color: #e2b4b3;
}

.bg-outline-color-1-with-hover:hover {
    transition: all 300ms ease;
    color: #fff;
    background-color: #e2b4b3;
}

hr {
    margin: 0;
    opacity: 0.15;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '';
}



/* x ver */

.opMisVehiculos {
    width: 300px;
}

.info-contacto {
    font-size: 12px;
}

@media (min-width: 810px) {
    .info-contacto {
        font-size: 13px;
    }
}

@media (min-width: 840px) {
    .info-contacto {
        font-size: 14px;
    }
}

@media (min-width: 878px) {
    .info-contacto {
        font-size: 15px;
    }
}

@media (min-width: 920px) {
    .info-contacto {
        font-size: 16px;
    }
}

.header-middle {
    justify-content: space-between !important;
}

@media (min-width: 768px) {
    .header-middle {
        justify-content: space-evenly !important;
    }
}

.amount-items-shopcart {
    --bs-badge-padding-x: 5px;
    --bs-badge-padding-y: 2px;
    --bs-badge-font-size: 12px;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 50%;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    color: var(--bs-badge-color);
    border-radius: var(--bs-badge-border-radius);
    line-height: 1.2;
}


.text-mi-carrito {
    font-weight: 500;
}

.nombre-producto {
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (min-width: 480px) {
    .nombre-producto {
        height: auto !important;
        font-size: 15px;
    }
}



.p-sidebar .p-sidebar-close {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.p-sidebar .p-sidebar-header,
.p-sidebar .p-sidebar-content {
    padding: 0px !important;
}

.p-dialog .p-dialog-header {
    padding: 0.5rem;
}

.p-sidebar .p-sidebar-footer {
    padding: 0;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button {
    border-radius: 8px;
}

.orden {
    width: 143px;
}

.way-to-show:hover {
    color: var(--color-1) !important;
}

.way-to-show:hover {
    background-color: #fff;
}

.nombre-producto {
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px !important;
}


.btn-agregar-producto {
    text-decoration: none;
    background-color: var(--color-1);
    color: #222222;
    text-align: center;
    border-radius: 10px;
    padding: 14px 5px;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    transition: all 300ms;
}

@media (min-width: 720px) {
    .btn-agregar-producto {
        margin: 10px 25px;
        padding: 10px 5px;
    }
}

.btn-agregar-producto:hover{
    transition: all 300ms;
    background-color: #222;
    color: #fff;
}

.text-agregar {
    font-size: 14px;
}

@media (min-width: 920px) {
    .text-agregar {
        font-size: 17px;
    }
}

.precio {
    font-size: 21px;
}

@media (min-width: 410px) {
    .precio {
        font-size: 25px;
    }
}


.bg-red {
    background-color: red !important;
}

.oferta1 {
    font-size: 12px !important;
    width: 40px !important;
}

.oferta2 {
    font-size: 12px !important;
    width: 70px !important;
}


.codigo-producto {
    font-size: 10px;
}

@media (min-width: 380px) {
    .codigo-producto {
        font-size: 12px;
    }
}

.h-max-content {
    height: max-content !important;
}

.product-operation-btn-2 {
    text-decoration: none;
    background-color: #fff;
    color: #222;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.11);
    text-align: center;
    padding: 8px 10px;
    transition: all 300ms;
    border-radius: 10px;
    width: 100%;
}

.product-operation-btn {
    text-decoration: none;
    background-color: #fff;
    color: #222;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.11);
    text-align: center;
    padding: 8px 10px;
    transition: all 300ms;
    border-radius: 10px;
    width: 105px;
}

@media (min-width: 420px) {
    .product-operation-btn {
        width: 125px;
    }
}

@media (min-width: 720px) {
    .product-operation-btn {
        padding: 10px 5px;
    }
}

.product-operation-btn-sm {
    text-decoration: none;
    background-color: #fff;
    color: #222;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.11);
    text-align: center;
    padding: 6px 10px;
    transition: all 300ms;
    border-radius: 10px;
    width: 100px;
}


.btn-filtros {
    text-decoration: none;
    background-color: #fff;
}

.cart-product-list-container {
    width: 100% !important;
    height: 100vh;
}

.img-producto {
    width: 55px !important;
}

.btn-vaciar-carrito {
    text-decoration: none;
    background-color: #f8f9fa !important;
    padding: 12px 30px;
    border-radius: 10px;
    color: rgba(34, 34, 34, 0.562);
}

.btn-vaciar-carrito:hover {
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.082);
}

.btn-pagar {
    text-decoration: none;
    text-shadow: 0 1px 3px rgb(0, 0, 0, 0.20);
    background-color: var(--color-1);
    color: #fff;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 10px;
}

.btn-pagar:hover {
    background-color: #222;
    color: #fff;
}

.text-mi-carrito {
    font-weight: 500;
}

.p-divider .p-divider-content {
    background-color: transparent;
}