<ng-container *ngIf="searchDataService.searchRequestLoading; else content">
    <div class="h-100vh"></div>
</ng-container>

<ng-template #content>
    <div class="container-fluid mx-0  ps-3 ps-md-5 py-2 fs-12px border-bottom">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item cp hover-text-underline">
                    <i class="fa fa-home"></i>
                    Kami Eccomerce
                </li>
                <li class="breadcrumb-item">
                    <i class="fas fa-angle-right"></i>
                    Resultados de búsqueda para : {{ queryCopy }}
                </li>
            </ol>
        </nav>
    </div>
    <div class="container-fluid container-xl my-3 px-0">
        <div class="row justify-content-between m-0-force grid gx-5">
            <div class="d-none d-xl-block h-max-content bg-light col-2 px-0-force px-md-2 px-lg-3">
                <search-filters (clearFiltersEventEmitter)="clearFilters()"
                    (applyFiltersEventEmitter)="applyFilters()"></search-filters>
            </div>

            <div class="col-12 col-xl-10 px-0 px-md-3 px-xl-4">

                <!-- Adicional search filters -->
                <div
                    class="row justify-content-evenly justify-content-sm-between align-items-center bg-light px-2 py-2 mx-0 mx-md-3 mb-3">
                    <div class="col-12 col-sm-auto px-0 px-sm-2">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <span class="fs-12px p-2 white-space-nowrap">Ordenar por</span>
                            <select class="form-select form-select-sm orden w-auto"
                                [(ngModel)]="searchDataService.searchRequest.orderFilter" (change)="search()">
                                <option value="1">Default</option>
                                <option value="2">Lowest price</option>
                                <option value="3">Highest price</option>
                                <option value="4">Recommended</option>
                                <option value="5">Alphabetical</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-auto mt-2 mt-sm-0">
                        <div class="d-flex">
                            <div (click)=" viewDesign='grid' "
                                class="px-3 py-1 border rounded-0 cp way-to-show transition-300ms border-end-0">
                                <i class="fas fa-grip-horizontal"></i>
                            </div>
                            <div (click)=" viewDesign='list' "
                                class="px-3 py-1 border rounded-0 cp way-to-show transition-300ms">
                                <i class="fas fa-equals"></i>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-auto mt-2 mt-sm-0 d-block d-xl-none">
                        <div class="px-3 py-1 border rounded-0 cp way-to-show transition-300ms"
                            (click)="displayFiltersModal=true">
                            Filters
                        </div>
                    </div>
                </div>

                <!-- Search results -->
                <div class="row p-2 bg-light mx-0 mx-md-3">
                    <ng-container *ngIf="this.searchDataService.searchResults!.data.length!==0; else emptyProducts">
                        <div *ngFor="let product of this.searchDataService.searchResults!.data"
                            [ngClass]="viewDesign=='list' ? 'col-12' : 'col-6 col-sm-4 col-lg-3'"
                            class="mb-3 px-1 px-sm-2">

                            <!-- List display mode -->
                            <ng-container *ngIf="viewDesign=='list'; else grid">
                                <div class="row mx-0 justify-content-start">
                                    <!-- <div class="col-4 col-sm-4 col-md-4 px-0 py-0 p-sm-2 p-lg-3">
                                        <div class="d-flex container-img-product-wts-lista">
                                            <ng-container *ngIf="product.mediaUrls; else sinImagen">
                                                <img [src]="product.mediaUrls[0]" class="cp img-fluid mx-auto"
                                                    (click)="productDetails(product)">
                                            </ng-container>
                                        </div>
                                    </div> -->
                                    <div class="col-8 col-sm-8 col-md-8 px-2 py-0 p-sm-2 p-lg-3">
                                        <div class="d-flex flex-column">
                                            <!-- <span class="fs-12px text-gray">
                                                {{ product.brand }}
                                            </span>
                                            <span class="nombre-product-wts-lista cp"
                                                (click)="productDetails(product)">{{ product.name }}</span>
                                            <span class="codigo-producto">Sku: {{ product.sku }}</span>
                                            <span class="fs-12px">
                                                Stock:
                                                <ng-container *ngIf="product.stock! < 1; else hayStock">
                                                    <span class="text-red">
                                                        Agotado
                                                    </span>
                                                </ng-container>
                                                <ng-template #hayStock>
                                                    <span>
                                                        {{ product.stock! }}
                                                    </span>
                                                </ng-template>
                                            </span> -->
                                            <ng-container *ngIf="product.discount; else normal">
                                                <!-- <span class="fw-bold precio-dscto-wts-lista">
                                                    <span class="badge bg-danger oferta1-wts-lista bg-red text-wrap"
                                                        *ngIf="product.estadoDsctoProducto == 1">
                                                        {{ product.porcentajeDsctoProducto }}% DCTO
                                                    </span>
                                                    <span class="badge bg-danger oferta1-wts-lista bg-red text-wrap"
                                                        *ngIf="product.estadoDsctoProducto == 2">
                                                        S/{{ product.montoDsctoProducto }} DCTO
                                                    </span>
                                                    S/{{ product.precioProducto |
                                                    dscto:product.precioProducto:product.estadoDsctoProducto:product.porcentajeDsctoProducto:product.montoDsctoProducto
                                                    }}
                                                </span>
                                                <span class="fs-12px">Normal
                                                    S/{{ product.precioProducto }}</span> -->
                                            </ng-container>
                                            <ng-template #normal>
                                                <span class="precio fw-bold">S/{{ product.price }}</span>
                                                <span class="fs-12px invisible">-</span>
                                            </ng-template>
                                            <!-- <span class="fs-10px text-muted">
                                                IGV incl. 18%, gastos de envío no incluidos.
                                            </span> -->

                                            <ng-container *ngIf="product.stock! > 0">
                                                <ng-container *ngIf="product.amount; else productoCarrito">
                                                    <a class="product-operation-btn-wts-lista">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <!-- <ng-container
                                                                *ngIf="product.cantidadProducto==1; else disminuirProducto">
                                                                <i class="fa fa-trash cp mx-2"
                                                                    (click)="eliminarProducto(product.id)"></i>
                                                            </ng-container>
                                                            <ng-template #disminuirProducto>
                                                                <i class="fa fa-minus cp mx-2"
                                                                    (click)="disminuirCantidadProducto(product.id)"></i>
                                                            </ng-template>
                                                            <span class="mx-3">{{ product.cantidadProducto }}</span>
                                                            <i class="fa fa-plus cp mx-2"
                                                                *ngIf="product.cantidadProducto < product.stock!; else outOfStock"
                                                                (click)="aumentarCantidadProducto(product.id)"></i>
                                                            <ng-template #outOfStock>
                                                                <img [src]="urlResources + 'img/' + 'logos/' + 'sin-stock-2.svg' "
                                                                    class="w-25px">
                                                            </ng-template> -->
                                                        </div>
                                                    </a>
                                                </ng-container>
                                                <ng-template #productoCarrito>
                                                    <!-- <a class="btn-agregar-producto-wts-lista"
                                                        (click)="agregarProducto(product.id)">
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="fas fa-cart-plus"></i>
                                                            <span
                                                                class="d-none d-sm-block ms-2 text-agregar">Agregar</span>
                                                        </div>
                                                    </a> -->
                                                </ng-template>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <!-- Grid display mode -->
                            <ng-template #grid>
                                <product-card class="d-flex flex-column" [product]="product" [type]="'product-grid-card'"></product-card>
                            </ng-template>
                        </div>
                    </ng-container>
                    <ng-template #emptyProducts>
                        <div class="container-fluid container-xl my-3">
                            <div class="row justify-content-center align-items-center">
                                <h3 class="text-center">
                                    <i class="fas fa-pastafarianism"></i>
                                    No se encontraron resultados para tu búsqueda, prueba quitando algunos filtros o
                                    usando otras palabras.
                                </h3>
                                <p class="text-center text-muted">asd</p>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <!-- Pagination -->
                <div class="row mt-3 justify-content-center">
                    <div class="col-auto">
                        <ul class="pagination pagination-sm">
                            <li class="page-item">
                                <ng-container *ngIf="searchDataService.searchRequest.page!-1 > 0; else previusPageDisabled">
                                    <span class="page-link cp"
                                        (click)="updatePage(searchDataService.searchRequest.page!-1)"><i
                                            class="fas fa-angle-left"></i></span>
                                </ng-container>
                                <ng-template #previusPageDisabled>
                                    <span class="page-link cp"><i class="fas fa-angle-left"></i></span>
                                </ng-template>
                            </li>
                            <li *ngFor="let i of pagesUI" class="page-item"
                                [ngClass]="{'active': i==searchDataService.searchRequest.page}">
                                <ng-container *ngIf="i !== '-' else noPage">
                                    <ng-container *ngIf="i !== '...' else fillerPage">
                                        <span (click)="updatePage(i)" class="page-link cp">{{ i }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-template #noPage>
                                    <span class="page-link">-</span>
                                </ng-template>
                                <ng-template #fillerPage>
                                    <span class="page-link">...</span>
                                </ng-template>
                            </li>

                            <li class="page-item">
                                <!-- <ng-container
                                    *ngIf="searchDataService.searchRequest.page < searchDataService.searchRequest?.data.length; else nextPageDisabled">
                                    <span class="page-link cp"
                                        (click)="updatePage(searchDataService.searchRequest.page+1)"><i
                                            class="fas fa-angle-right"></i></span>
                                </ng-container> -->
                                <ng-template #nextPageDisabled>
                                    <span class="page-link cp"><i class="fas fa-angle-right"></i></span>
                                </ng-template>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<p-dialog #filtrosModal header="FILTERS" [(visible)]="displayFiltersModal" [baseZIndex]="1" [modal]="true"
    [style]="{width: '350px'}" [contentStyle]="{padding: '0'}" [draggable]="false" [resizable]="false">
    <search-filters (clearFiltersEventEmitter)="clearFilters()"
        (applyFiltersEventEmitter)="applyFilters()"></search-filters>
</p-dialog>