<div class="d-flex flex-column justify-content-center align-items-center bg-light vh-100">
    <div class="d-flex justify-content-center mb-3">
        <a [routerLink]="appRoutes.HOME_MODULE_ROUTE_NAME">
            <img src="https://picsum.photos/seed/picsum/75/50">
        </a>
    </div>
    <div class="card text-dark bg-white mb-3 mx-3 mb-5 cardLogin max-w-350px">
        <div class="card-body">
            <div class="mb-3">
                <div class="fs-20px fw-bold mb-2">Vincular tu cuenta de Google</div>
                <div class="fs-14px">Continuar como <span class="fw-bold text-gray-60">{{authDataService.linkToGoogleAccountRequest.email}}</span>
                    <br>
                    (<a class="text-primary cursor-pointer" (click)="cancel()">Prefiero seguir con correo y contraseña</a>)
                </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="authDataService.linkToGoogleAccountRequest.password" (keyup.enter)="linkGoogleAccount()" [appFocus]="passwordAutofocus">
            </div>
            <p class="text-center fs-12px" [class]="messageClass" [innerHTML]="message"></p>
            <div class="d-flex mb-2">
                <button class="btn bg-color-1-with-hover text-white fw-bold btn-block w-100" (click)="linkGoogleAccount()">Vincular</button>
            </div>
        </div>
    </div>
</div>