<div class="d-flex flex-column justify-content-center align-items-center bg-light py-5 vh-100">
    <div class="d-flex justify-content-center mb-3">
        <a [routerLink]="appRoutes.HOME_MODULE_ROUTE_NAME" class="">
            <img src="https://picsum.photos/seed/picsum/75/50">
        </a>
    </div>
    
    <ng-container *ngIf="step===1">
        <div class="card text-dark bg-light mb-3 mx-3 max-w-350px">
            <div class="card-body">
                <div class="mb-2">
                    <div class="fs-22px">Reestablecer contraseña</div>
                    <div class="fs-12px">Ingresa tu correo</div>
                </div>
                <div class="mb-3">
                    <input [appFocus]="emailFocus" type="text" class="form-control" placeholder="Correo" [(ngModel)]="email" (keyup.enter)="resetPassword()">
                </div>
                <p class="text-center fs-12px" [class]="messageClass" [innerHTML]="message"></p>
                <div class="d-flex mb-2">
                    <button class="btn bg-color-1-with-hover text-white fw-bold btn-block w-100" (click)="resetPassword()">Verificar</button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="step===2">
        <div class="card text-dark bg-light mb-3 mx-3 max-w-350px">
            <div class="card-body">
                <div class="mb-2">
                    <div class="fs-22px">Reestablecer contraseña</div>
                    <div class="fs-12px">Se ha enviado un código de verificación a tu correo, revisa tu bandeja de entrada.</div>
                </div>
                <div class="mb-3">
                    <input [appFocus]="codeFocus" type="text" class="form-control" placeholder="Código de verificación" [(ngModel)]="code">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="newPassword" (keyup.enter)="verifyResetPassword()">
                    <p class="fs-12px text-gray-60 ps-2">Utilice al menos 8 caracteres</p>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Confirmar nueva contraseña" [(ngModel)]="newPasswordConfirm">
                </div>
                <p class="text-center fs-12px" [class]="messageClass" [innerHTML]="message"></p>
                <div class="d-flex mb-2">
                    <button class="btn bg-color-1-with-hover text-white fw-bold btn-block w-100" (click)="verifyResetPassword()">Reestablecer</button>
                </div>
            </div>
        </div>
    </ng-container>
    
    
</div>