<div class="container-fluid container-lg bg-light">
    <div class="row mx-0 py-3 pb-5 justify-content-center">
        <div class="col-12 col-md-10 col-lg-7 col-xl-6 px-0 px-md-2">
            <div class="d-flex flex-column">

                <ng-container *ngIf="step===1">
                    <div class="card bg-white mb-3">
                        <div class="card-header bg-white">
                            <p class="fs-22px m-0 fw-500"><i class="fa-regular fa-circle-check me-2"></i>Elige un tipo de
                                entrega</p>
                        </div>
                        <div class="card-body">
                            <div class="card-text fs-14px mb-2">Tipos de entrega disponibles:</div>
                            <div class="row m-0 p-0">
                                <div class="col-12 px-0 px-md-2">
                                    <label
                                        class="btn bg-white-with-hover border mb-2 py-3 d-flex flex-row justify-content-between align items-center"
                                        for="delivery">
                                        <div class="d-flex flex-row align-items-center">
                                            <div><i class="fa-solid fa-truck me-2 fs-24px"></i></div>
                                            <div class="d-flex flex-column">
                                                <p class="mb-0 text-start">Delivery</p>
                                                <p class="fs-12px text-gray-60 mb-0">Ingresa tu dirección</p>
                                            </div>
                                        </div>
                                        <p-radioButton name="deliveryMethod" value="delivery" inputId="delivery"
                                            [(ngModel)]="orderDataService.order.delivery.deliveryMethod"
                                            (onClick)="onChangeDeliveryMethod($event)"></p-radioButton>
                                    </label>
                                </div>
                                <div class="col-12 px-0 px-md-2">
                                    <label
                                        class="btn bg-white-with-hover border mb-2 py-3 d-flex flex-row justify-content-between"
                                        for="in_store_pickup">
                                        <div class="d-flex flex-row align-items-center">
                                            <div><i class="fa-solid fa-shop me-2 fs-24px"></i></div>
                                            <div class="d-flex flex-column">
                                                <p class="mb-0 text-start">Recojo en tienda</p>
                                                <!-- <p class="fs-12px text-gray-60 mb-0">Selecciona una tienda</p> -->
                                            </div>
                                        </div>
                                        <p-radioButton name="deliveryMethod" value="in_store_pickup"
                                            inputId="in_store_pickup" [(ngModel)]="orderDataService.order.delivery.deliveryMethod"
                                            (onClick)="onChangeDeliveryMethod($event)"></p-radioButton>
                                    </label>
                                </div>
                                <ng-container *ngIf="orderDataService.order.delivery.deliveryMethod==='delivery'">
                                    <div class="card bg-white my-2">
                                        <div class="card-body p-2">
                                            <div class="d-flex">
                                                <p class="fs-18px m-0 fw-500">
                                                    <i class="fa-solid fa-location-dot me-2"></i>
                                                    Dirección de entrega
                                                </p>
                                            </div>
                                            <div class="d-flex flex-column justify-content-between my-2">
                                                <a class="cp text-green text-decoration-none text-decoration-underline-hover" 
                                                    (click)="addressDataService.displayAddressesModal=true">Seleccionar</a>
                                                <div class="d-flex flex-column fw-500"
                                                    *ngIf="orderDataService.order.delivery.shippingAddress!=undefined">
                                                    <span>{{orderDataService.order.delivery.shippingAddress.line}}</span>
                                                    <span class="fs-12px text-gray">
                                                        {{orderDataService.order.delivery.shippingAddress.reference}}</span>
                                                </div>
                                            </div>
                                            <p class="fs-12px mb-1">Te notificaremos la fecha y hora de tu entrega.</p>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="orderDataService.order.delivery.deliveryMethod==='in_store_pickup'">
                                    <div class="card bg-white my-2">
                                        <div class="card-body p-2">
                                            <div class="d-flex flex-column justify-content-between my-2">
                                                <div class="d-flex flex-column fw-500">
                                                    <span>{{constants.STORE_1_ADDRESS}}</span>
                                                    <span class="fs-14px text-gray"></span>
                                                </div>
                                            </div>
                                            <p class="mb-1">Horario de atención: 9:00 am - 6:00 pm</p>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="step===2">
                    <div class="card bg-white mb-3">
                        <div class="card-header bg-white">
                            <p class="fs-22px m-0 fw-500"><i class="fa-regular fa-circle-check me-2"></i>Selecciona método
                                de pago</p>
                        </div>
                        <div class="card-body">
                            <div class="card-text fs-14px mb-2">Métodos de pago disponibles:</div>
                            <div class="row m-0 p-0">
                                <div class="col-12 col-lg-6 px-0 px-md-2">
                                    <label
                                        class="btn bg-white-with-hover border mb-2 py-3 d-flex flex-row justify-content-between"
                                        for="bank_transfer">
                                        <div>
                                            <i class="fa-solid fa-money-bill-transfer me-2"></i>
                                            <span class="fs-14px">Transferencia bancaria</span>
                                        </div>
                                        <p-radioButton name="paymentMethod" value="bank_transfer" inputId="bank_transfer"
                                            [(ngModel)]="orderDataService.order.payment.paymentMethod"
                                            (onClick)="onChangePaymentMethod($event)"></p-radioButton>
                                    </label>
                                </div>
                                <div class="col-12 col-lg-6 px-0 px-md-2">
                                    <label
                                        class="btn bg-white-with-hover border mb-2 py-3 d-flex flex-row justify-content-between"
                                        for="digital_wallet">
                                        <div><i class="fa-solid fa-wallet me-2"></i>Yape/Plin</div>
                                        <p-radioButton name="paymentMethod" value="digital_wallet" inputId="digital_wallet"
                                            [(ngModel)]="orderDataService.order.payment.paymentMethod"
                                            (onClick)="onChangePaymentMethod($event)"></p-radioButton>
                                    </label>
                                </div>
                                <ng-container *ngIf="orderDataService.order.payment.paymentMethod!=''">
                                    <ng-container *ngIf="orderDataService.order.payment.paymentMethod==='bank_transfer'">
                                        <p>Puedes transferir a cualquiera de nuestras cuentas BCP, Interbank, BBVA o Scotiabank.</p>
                                        <div class="row m-0">
                                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
                                                <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/bcp-logo.png" 
                                                    class="h-55px w-auto mx-auto rounded">
                                                <p class="fs-14px mb-0">Cuenta Ahorros Soles:</p>
                                                <p class="fs-14px">000 000 00000 000000</p>
                                            </div>
                                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
                                                <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/ibk-logo.png" 
                                                    class="h-55px w-auto mx-auto rounded">
                                                <p class="fs-14px mb-0">Cuenta Ahorros Soles:</p>
                                                <p class="fs-14px">000 000 00000 000000</p>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
                                                <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/bbva-logo.png" 
                                                    class="h-55px w-auto mx-auto rounded">
                                                <p class="fs-14px mb-0">Cuenta Ahorros Soles:</p>
                                                <p class="fs-14px">000 000 00000 000000</p>
                                            </div>
                                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
                                                <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/scotiabank-logo.png" 
                                                    class="h-55px w-auto mx-auto rounded">
                                                <p class="fs-14px mb-0">Cuenta Ahorros Soles:</p>
                                                <p class="fs-14px">000 000 00000 000000</p>
                                            </div>
                                        </div>
                                        <p>A nombre de: Company Name</p>
                                    </ng-container>
                                    <ng-container *ngIf="orderDataService.order.payment.paymentMethod==='digital_wallet'">
                                        <p>Puedes pagar mediante Yape o Plin.</p>
                                        <div class="row g-2 g-sm-3 justify-content-center mx-0 px-0 mt-0 mb-1">
                                            <div class="col-6 col-sm-6 mb-3 mb-sm-0">
                                                <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/yape-example.png" class="w-100 rounded">
                                            </div>
                                            <div class="col-6 col-sm-6">
                                                <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/plin-example.png" class="w-100 rounded">
                                            </div>
                                        </div>
                                        <p class="mb-0">Número: 000 000 000</p>
                                        <p>Titular: Company Name</p>
                                    </ng-container>
                                    <div class="mb-3">
                                        <label for="file" class="form-label">Adjuntar voucher:</label>
                                        <input class="form-control" type="file" id="file" accept="image/*,.pdf">
                                    </div>
                                </ng-container>
                                
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-5 col-xl-4 px-0 px-md-2">
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button py-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne">
                            <p class="fs-22px m-0 fw-500">Resumen de la compra</p>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body p-2">
                            <div class="overflow-y-auto overflow-x-hidden max-h-380px">
                                <ng-container *ngIf="!cartDataService.loadingCart">
                                    <ng-container *ngFor="let product of cartDataService.cart.products">
                                        <product-card [displayCartInteractionBtn]="false" [product]="product"
                                            type="order-summary-product-list-card"></product-card>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <ng-container *ngIf="orderDataService.displayPaymentDetails">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <span class="d-flex">Subtotal:</span>
                                            <span class="d-flex">S/ {{orderDataService.order.subTotal}}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <span class="d-flex">Costo de envío:</span>
                                            <span class="d-flex">S/ {{orderDataService.order.deliveryCost}}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <span class="d-flex fw-500">Total:</span>
                                            <span class="d-flex fw-500">S/ {{orderDataService.order.total}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <p class="text-center fs-12px m-0 my-1" [class]="messageClass" [innerHTML]="message"></p>
                <button class="mt-1 btn bg-green-with-hover text-white transition-300ms cp w-100" (click)="continue()">
                    <span class="fw-bold">
                        {{step===1 ? 'Ir a pagar' : 'Enviar voucher'}}
                    </span>
                </button>

            </div>

        </div>
    </div>
</div>

<div class="invisible my-5">-</div>

<addresses-modal [selectable]="true"></addresses-modal>
<address-add></address-add>

