<ng-container *ngIf="dataService.screenWidth>500; else fullScreen">
    <p-dialog  [(visible)]="displayModal" [modal]="true" [style]="{ width: '450px' }" [draggable]="false" [resizable]="false" [dismissableMask]="true" [maskStyleClass]="'bg-black-transparent-20'" contentStyleClass="p-0" >
        <ng-template pTemplate="header">
            <span class="fs-20px fw-500 mx-3">Mis direcciones</span>
        </ng-template>
        <p class="m-0">
            <ng-container *ngTemplateOutlet="cartTemplate"></ng-container>
        </p>
    </p-dialog>
</ng-container>

<ng-template #fullScreen>
    <p-sidebar [(visible)]="displayModal" [fullScreen]="true" [showCloseIcon]="false" styleClass="p-0"  [blockScroll]="true">
        <div class="d-flex flex-column justify-content-center">
            <div class="border-bottom p-2">
                <div class="d-flex justify-content-between align-items-center mt-1 fs-4">
                    <span class="fs-20px fw-500 mx-3">Mis direcciones</span>
                    <i class="fa-regular fa-circle-xmark cursor-pointer fs-20px text-gray-70"
                        (click)="displayModal = false"></i>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="cartTemplate"></ng-container>
        </div>
    </p-sidebar>
</ng-template>

<ng-template #cartTemplate>
    <ng-container *ngIf="authDataService.loggedInCustomer!=undefined">
        <div class="m-3">
            <ul class="list-group list-group-flush mb-2">
                <li class="list-group-item px-0" 
                    *ngFor="let address of authDataService.loggedInCustomer.addresses">
                    <label [for]="address.id" class="w-100">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex align-items-center">
                                <ng-container *ngIf="selectable">
                                    <p-radioButton name="address" [value]="address.id"
                                    [inputId]="address.id" [(ngModel)]="selected"></p-radioButton>
                                </ng-container>
                                <div class="d-inline-flex flex-column b-0 fw-500 ms-2">
                                    <span>{{address.line}}</span>
                                    <span class="fs-12px text-gray">{{address.reference}}</span>
                                </div>
                            </div>
                            <div class="cp hover-transform-scale-115 transition-300ms"><i class="fa-regular fa-trash-can"></i></div>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="row m-0">
                <div class="col-6 px-2">
                    <button type="button" class="btn bg-light w-100" (click)="saveAddress()">
                        <i class="fa-solid fa-plus me-2"></i>Agregar
                    </button>
                </div>
                <div class="col-6 px-2">
                    <ng-container *ngIf="selectable">
                        <button type="button" class="btn bg-green-with-hover text-white transition-300ms w-100" (click)="addressSelectedEvent.emit(selected)">
                            Seleccionar
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!selectable">
                        <button type="button" class="btn bg-color-1-with-hover text-white transition-300ms w-100">
                            Cerrar
                        </button>
                    </ng-container>
                </div>
            </div>
            
        </div>
    </ng-container>
</ng-template>