<div class="d-flex">
    <ng-container *ngIf="product.mediaUrls; else sinImagen">
        <img [src]="product.mediaUrls[0]" class="my-3 cp my-auto" (click)="productDetails(product.id)">
    </ng-container>
</div>
<strong class="fs-12px text-uppercase text-secondary">
    {{ product.brand }}
</strong>
<span class="nombre-producto mb-1 cp" (click)="productDetails(product.id)">{{ product.name }}</span>
<span class="codigo-product fs-12px">Sku: {{ product.sku }}</span>
<span class="fs-12px">
    Stock:
    <ng-container *ngIf="product.stock! < 1; else inStock">
        <span class="text-red">
            Agotado
        </span>
    </ng-container>
    <ng-template #inStock>
        <span>
            {{ product.stock! }}
        </span>
    </ng-template>
</span>
<ng-container *ngIf="product.discount; else normal">
    <div class="d-flex flex-row align-items-center">
        <div class="fs-4 fw-bold text-red">
            S/{{ product.discount.priceWithDiscountApplied}}
        </div>
        <div class="badge bg-danger fs-12px w-40px bg-red text-wrap h-fit-content">
            -{{ product.discount.percentage }}%
        </div>
    </div>
    <span class="fs-12px">Normal S/{{ product.price }}</span>
</ng-container>
<ng-template #normal>
    <span class="fs-4 fw-bold">S/{{ product.price }}</span>
    <span class="fs-8px invisible">-</span>
</ng-template>

<ng-container *ngIf="product.stock! > 0">
    <ng-container *ngIf="product.amount! > 0; else neverAddedToCart">
        <a class="product-operation-btn align-self-center">
            <div class="d-flex align-items-center justify-content-between">
                <ng-container *ngIf="product.amount==1; else decreaseProduct">
                    <i class="fa fa-trash cp mx-2" (click)="removeFromCart(product.id!)"></i>
                </ng-container>
                <ng-template #decreaseProduct>
                    <i class="fa fa-minus cp mx-2" (click)="decreaseQuantity(product.id!)"></i>
                </ng-template>
                <span>{{ product.amount }}</span>
                <i class="fa fa-plus cp mx-2" *ngIf="product.amount! < product.stock!; else outOfStock"
                    (click)="increaseQuantity(product.id!)"></i>
                <ng-template #outOfStock>
                    <img src="https://raw.githubusercontent.com/andreedev/public-sources/master/out-of-stock.png" class="w-24px">
                </ng-template>
            </div>
        </a>
    </ng-container>
    <ng-template #neverAddedToCart>
        <a class="btn bg-green-with-hover text-white" (click)="addToCart(product)">
            <div class="d-inline-flex align-items-center">
                <i class="fas fa-cart-plus fs-18px"></i>
                <span class="d-none d-lg-block ms-2 text-agregar">Agregar</span>
            </div>
        </a>
    </ng-template>
</ng-container>



<ng-template #sinImagen>
    <img src="https://picsum.photos/seed/picsum/500/500" class="my-3 cp my-auto">
</ng-template>