<div class="card bg-white mb-3">
    <div class="card-header bg-white">
        <p class="fs-22px m-0 fw-500">
            Mis ordenes
        </p>
        <p class="fs-14px m-0">
            Aquí puedes hacer seguimiento y procesar tus ordenes.
        </p>
    </div>
    <div class="card-body">
        <div class="row justify-content-between mx-0 mb-3">
            <div class="col-12 col-sm-auto mb-2">
                <div class="input-group">
                    <input [(ngModel)]="query" name="query" type="text" class="form-control border border-right-0"
                        placeholder="Buscar por Nº de orden" (keyup.enter)="searchOrders()" autocomplete="off">
                    <span class="input-group-text cursor-pointer bg-white text-gray-70 border-left-0 px-16px"
                        (click)="searchOrders()"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <select class="form-select" [(ngModel)]="statusFilter" (change)="searchOrders()">
                    <option value="" selected>Filtrar por estado</option>
                    <option value="pending">Pendiente</option>
                    <option value="payment_in_process">Pago en proceso</option>
                    <option value="payment_confirmed">Pago confirmado</option>
                    <option value="shipped">En camino</option>
                    <option value="delivered">Entregado</option>
                    <option value="canceled">Cancelado</option>
                </select>
            </div>
        </div>
        <ng-container *ngIf="searchResults.data.length>0">
            <div class="card bg-color-1-gradient border-gray mb-3" *ngFor="let order of searchResults.data">
                <div class="card-body">
                    <div class="row mx-0 g-0 flex-row mb-1 justify-content-between align-items-center">
                        <div class="d-flex col-12 col-md-6 fs-16px mb-1 mb-md-0">
                            Orden<span class="fw-500 ms-1">#{{order.orderNumber }}</span>
                        </div>
                        <div
                            class="d-flex col-12 col-md-6 fs-14px mb-1 mb-md-0 justify-content-start justify-content-md-end ">
                            Fecha: {{order.createdAt | date:'dd-MM-YY hh:mm a'}}
                        </div>
                    </div>
                    <hr class="d-block d-md-none my-2">
                    <div class="row mx-0 g-0 flex-row mb-1">
                        <div class="d-flex col-12 col-md-6 fs-16px mb-1 mb-md-0 align-items-baseline">
                            <span class="me-1">Estado:</span>
                            <span class="btn btn-sm" [ngClass]="utils.getClassByOrderStatus(order.status!)">
                                {{utils.getDescriptionByOrderStatus(order.status!)}}
                            </span>
                        </div>
                    </div>
                    <hr class="d-block d-md-none my-2">
                    <p class="fs-18px fw-500 mb-0">Entrega</p>
                    <div class="row mx-0 g-0 flex-row">
                        <ng-container *ngIf="order.delivery.deliveryMethod==='delivery'">
                            <div class="d-flex col-12 col-md-12 fs-16px mb-1 mb-md-0">
                                Dirección de entrega: {{order.delivery.shippingAddress!.line}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="order.delivery.deliveryMethod==='in_store_pickup'">
                            <div class="d-flex col-12 col-md-12 fs-16px mb-1 mb-md-0">
                                Recojo en tienda: {{constants.STORE_1_ADDRESS}}
                            </div>
                        </ng-container>
                        <!-- <div class="d-flex col-12 col-md-6 fs-16px mb-1 mb-md-0 justify-content-start justify-content-md-end ">
                            {{order.delivery.deliveryMethod==='delivery' ? 'Entrega a domicilio' : '' }}
                            {{order.delivery.deliveryMethod==='in_store_pickup' ? 'Recojo en tienda' : '' }}
                        </div> -->
                    </div>
                    <hr class="d-block d-md-none my-2">
                    <!-- <div class="d-flex">
                        {{order.payment.paymentMethod==='digital_wallet' ? 'Pago con yape/plin' : '' }}
                        {{order.payment.paymentMethod==='bank_transfer' ? 'Pago con transferencia' : '' }}
                    </div> -->
                    <div class="d-flex align-items-center">
                        <div class="d-inline-flex flex-column fw-500">
                            <span>Total: {{order.total | currency:'S/' }}</span>
                        </div>
                    </div>
                    <!-- <ng-container *ngIf="order.status==='pending'">
                        <p class="text-end text-info fs-14px fw-500 m-0 my-1">Tu orden se encuentra pendiente de pago.
                        </p>
                    </ng-container> -->
                    <div class="d-flex justify-content-end">
                        <!-- <ng-container *ngIf="order.status === 'pending'">
                            <button
                                class="mt-1 btn bg-green-with-hover text-white transition-300ms cp w-100 w-sm-50 w-md-auto"
                                (click)="pay(order)">
                                <span class="fw-bold">Ir a pagar</span>
                            </button>
                        </ng-container> -->
                        <button
                            class="mt-1 btn bg-color-1-with-hover text-white transition-300ms cp w-100 w-sm-50 w-md-auto"
                            (click)="orderDetails(order)">
                            <span class="fw-bold">Detalles</span>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="searchResults.data.length===0">
            <p class="text-center my-5">No se encontraron ordenes.</p>
        </ng-container>

        <div class="row mt-3 justify-content-center">
            <div class="col-auto">
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <ng-container *ngIf="page-1 > 0; else previusPageDisabled">
                            <span class="page-link cp" (click)="updatePage(page!-1)"><i
                                    class="fas fa-angle-left"></i></span>
                        </ng-container>
                        <ng-template #previusPageDisabled>
                            <span class="page-link cp"><i class="fas fa-angle-left"></i></span>
                        </ng-template>
                    </li>
                    <li *ngFor="let i of pagesUI" class="page-item" [ngClass]="{'active': i==page}">
                        <ng-container *ngIf="i !== '-' else noPage">
                            <ng-container *ngIf="i !== '...' else fillerPage">
                                <span (click)="updatePage(i)" class="page-link cp">{{ i }}</span>
                            </ng-container>
                        </ng-container>
                        <ng-template #noPage>
                            <span class="page-link">-</span>
                        </ng-template>
                        <ng-template #fillerPage>
                            <span class="page-link">...</span>
                        </ng-template>
                    </li>

                    <li class="page-item">
                        <ng-container *ngIf="page < searchResults.totalPages; else nextPageDisabled">
                            <span class="page-link cp" (click)="updatePage(page+1)">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </ng-container>
                        <ng-template #nextPageDisabled>
                            <span class="page-link cp"><i class="fas fa-angle-right"></i></span>
                        </ng-template>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<order-detail-modal></order-detail-modal>