.sidebar-popup {
    width: 100% !important;
}

@media (min-width: 417px) {
    .sidebar-popup {
        width: 400px !important;
    }
}


/* primeng custom css */

.p-datatable-scrollable-header-box {
    padding-right: 0px !important;
}

.p-datatable table {
    table-layout: fixed !important;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background-color: #0063cc70 !important;
    color: #000000 !important;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #007bff70 !important;
    color: #181818 !important;
}

.p-sidebar .p-sidebar-close {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.p-sidebar .p-sidebar-header,
.p-sidebar .p-sidebar-content {
    padding: 0px !important;
}

.p-dialog .p-dialog-header {
    padding: 0.5rem;
}

.p-sidebar .p-sidebar-footer {
    padding: 0;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button {
    border-radius: 8px;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

/* Custom css ngx date range picker*/

.md-drppicker .btn {
    background-color: var(--blue) !important;
}

.md-drppicker td.active,
.md-drppicker td.active:hover {
    background-color: var(--blue) !important;
}

/* Custom css btn upload */

.p-fileupload-advanced .p-button {
    padding: 5px !important;
    margin-bottom: 10px !important;
}

.p-fileupload-buttonbar {
    padding: 10px !important;
}

.main-content {
    margin-left: 0;
}

@media (min-width: 768px) {
    .main-content {
        margin-left: 150px;
    }
}

.mobileMenuBtn {
    padding: 3px 9px;
}

.images-popup {
    width: 100%;
}

@media (min-width: 768px) {
    .images-popup {
        width: 700px;
    }
}

.debugger {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 5px;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 50%;
    border: 1px solid var(--blue);
    text-align: center;
    color: #ffffff;
}

.bg-color-1, .bg-color-1-with-hover {
    background-color: #FECCCB !important;
}

.bg-color-1-with-hover:hover, .bg-color-1-with-hover:active,
 .bg-color-1-with-hover:focus-visible{
    background-color: #e2b4b3 !important;
}

.bg-outline-color-1, .bg-outline-color-1-with-hover {
    transition: all 300ms ease;
    border: 1px solid #e2b4b3;
    color: #e2b4b3;
}

.bg-outline-color-1-with-hover:hover {
    transition: all 300ms ease;
    color: #fff;
    background-color: #e2b4b3;
}

hr {
    margin: 0;
    opacity: 0.15;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '';
}